<div class="d-flex justify-content-between align-items-center p-3 shadow">
  <div class="d-flex align-items-center">
    <div>
      <mat-icon color="primary">{{ icono }}</mat-icon>
    </div>
    <div style="color: var(--md-primary-900)" class="mx-2">
      <b>{{ titulo }}</b>
      <p>{{ descripcion }}</p>
    </div>
  </div>
  <div>
    <mat-icon style="cursor: pointer" [mat-dialog-close] color="primary"
      >close</mat-icon
    >
  </div>
</div>
<mat-dialog-content class="modal-scroll">
  <!-- Renderiza el template proporcionado -->
  <div class="container">
    <ng-container *ngTemplateOutlet="contenido"></ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="alignFooter">
  <ng-container *ngTemplateOutlet="footer"></ng-container>
</mat-dialog-actions>
