<plantilla-modal 
    [icono]="'list_alt'"
    [titulo]="'Ver documentos'"
    [descripcion]="'Documentos del Plan Anual de Auditoria'"
    [contenido]="contenidoDeModal"
    [footer]="footerDeModal"
></plantilla-modal>

<ng-template #contenidoDeModal>
    <div class="row mt-4">
        <div class="col-12">
            <div class="d-flex flex-row-reverse my-2">
                <button mat-button color="primary" (click)="descargarTodo()">
                    Descargar Todo <mat-icon> insert_drive_file</mat-icon>
                </button>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="d-flex flex-column">
                        <button class="mb-2" mat-stroked-button [ngClass]="selectedTab === 0 ? 'selected' : ''"
                            (click)="selectTab(0)">
                            Formato PAA
                        </button>
                        <button class="mb-2" mat-stroked-button [ngClass]="selectedTab === 1 ? 'selected' : ''"
                            (click)="selectTab(1)">
                            Matriz Función Pública
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div>
                        <div *ngIf="selectedTab === 0">
                            <div class="row">
                                <div class="col-12">
                                    <div style="border: 1px solid #ebdddd">
                                        <app-pdf-visualizador [base64Document]="documentoPAA"></app-pdf-visualizador>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedTab === 1">Matriz Función Pública
                            <div class="row">
                                <div class="col-12">
                                    <div style="border: 1px solid #ebdddd">
                                        <app-pdf-visualizador
                                            [base64Document]="documentoMatrizPublica"></app-pdf-visualizador>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #footerDeModal>
    <button mat-stroked-button color="primary" style="border: 1px solid var(--md-primary-500)" [mat-dialog-close]
        class="my-3">
        <mat-icon>toll</mat-icon>Regresar
    </button>
</ng-template>