.modal-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal-header > button {
  background-color: var(--primary);
  color: var(--md-primary-contrast-300);
}

.close-button {
  font-size: 18px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; 
  color: var(--primary) ;
  border: solid 1px;
  border-color: var(--primary);
}

.mat-dialog-container {
  width: 80vw;
  max-width: 1200px;
  height: auto;
  position: relative; 
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.section-header {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
  background-color: var(--md-primary-500);
  color: var(--md-primary-contrast-300);
  border-radius: 5px;
}

.form-input {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

@media (max-width: 900px) {
  .form-container {
    flex-direction: column;
    gap: 10px;
  }
}
