.custom-card {
  margin: 40px;
  padding: 20px;
  box-shadow: 0 0.7rem 1.5rem rgba(44, 51, 73, 0.3);
  border-radius: 10px;
}

.btn-cont{
  background-color: white;
  color: hsl(8.28deg 68.5% 75.1%);
  font-weight: normal;
  padding: 0px;
  width: 100%;
  align-items: start;
  button{
    align-self: start;
    text-align: left;
    width: 100%;
    height: 50px;
    margin:0;
    border-radius:9px;
    padding-top:10px;
    padding-bottom:15px;
    border: 1px solid hsl(210deg 15% 92.16%);
  }
}
.selected {
  background-color: hsl(8.28deg 68.5% 75.1%);
  color:#731514;
  font-weight: bold;

}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 14px;
  color: #666;
}

#descargarBtn{
  display: flex;
  justify-content: flex-end;
}

.button_down {
  display: flex;
  margin-top: 16px;
  justify-content: center;

  button{
      color: var(--md-primary-contrast-300);
      margin-top: 35px;
      margin-left:5px;
      margin-right:5px;
      margin-bottom: 40px;
  }
}

.button button {
  color: var(--md-primary-contrast-300);
  margin: 35px 5px 40px;
}

.object-render{
  height: 700px;
  border: 1px solid  black;
  padding:2px;
  app-pdf-visualizador {
    width: 100%;
  }
}

