<plantilla-modal
  [icono]="'report'"
  [titulo]="'Motivos de rechazo y observaciones'"
  [descripcion]="'Lista de motivos de rechazo y observaciones del Plan Anual de Auditoría'"
  [contenido]="contenidoDeModal"
  [footer]="footerDeModal"
></plantilla-modal>

<ng-template #contenidoDeModal>
  <div class="d-flex align-items-center mb-3">
    <mat-icon color="primary">restore</mat-icon>
    <h3 class="mx-2">Historial de observaciones</h3>
  </div>

  @for (observacion of observaciones; track observacion) {
    <div class="px-3 my-2">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div [class]="observacion.estado.id === estadoRevision ? 'fondo-chip fondo-chip--revision mb-3' : 'fondo-chip fondo-chip--rechazo mb-3'">
            <div class="my-2">
              <p class="mb-2">
                <b style="color: var(--md-accent-800)">Observaciones:</b>
              </p>
              <p>{{ observacion.observacion }}</p>
              <div class="d-flex flex-wrap mt-4">
                <div class="chip mb-sm">
                  <b>
                    <mat-icon class="icon-chip">{{ observacion.estado.id === estadoRevision ? "rate_review" : "cancel" }}</mat-icon>
                    Revisado por: {{ observacion.usuario.nombre }}
                  </b>
                </div>
                <div class="chip mb-sm">
                  <mat-icon class="icon-chip">person</mat-icon>
                  <b>Rol: {{ observacion.usuario_rol || observacion.estado?.nombre }}</b>
                </div>
                <div class="chip mb-sm">
                  <mat-icon class="icon-chip">calendar_today</mat-icon>
                  <b>Fecha:{{ observacion.fecha_ejecucion_estado | date : "dd/MM/yyyy" }}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- Skeleton mientras carga -->
  @if (observaciones.length === 0 && cargando) {
    @for (_ of [].constructor(numRechazos); track _) {
      <div class="px-3 my-2">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="fondo-chip mb-3 skeleton-container">
              <div class="my-2">
                <p class="skeleton skeleton-title"></p>
                <p class="skeleton skeleton-text"></p>
                <div class="d-flex flex-wrap mt-4">
                  <div class="chip mb-sm skeleton skeleton-chip"></div>
                  <div class="chip mb-sm skeleton skeleton-chip"></div>
                  <div class="chip mb-sm skeleton skeleton-chip"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  }
</ng-template>

<ng-template #footerDeModal>
  <button
    mat-stroked-button
    color="primary"
    style="border: 1px solid var(--md-primary-500)"
    [mat-dialog-close]
    class="my-3"
    >
    <mat-icon>toll</mat-icon>Regresar
  </button>
</ng-template>
