<plantilla-modal
  [icono]="'report'"
  [titulo]="'Motivos de rechazo'"
  [descripcion]="'Lista de motivos de rechazo del Plan Anual de Auditoría'"
  [contenido]="contenidoDeModal"
></plantilla-modal>

<ng-template #contenidoDeModal>
  <div class="d-flex align-items-center mt-4 mb-3">
    <mat-icon color="primary">restore</mat-icon>
    <h3 class="mx-2">Historial de rechazos</h3>
  </div>
  <ng-container *ngFor="let rechazo of rechazos">
    <div class="px-3 my-2">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="fondo-chip mb-3">
            <div class="my-2">
              <p class="mb-2">
                <b style="color: var(--md-accent-800)">Observaciones:</b>
              </p>
              <p>{{ rechazo.observacion }}</p>
              <div class="d-flex flex-wrap mt-4">
                <div class="chip mb-sm">
                  <b>
                    <mat-icon class="icon-chip">cancel</mat-icon>
                    Rechazado por: {{ rechazo.usuario.nombre }}</b
                  >
                </div>
                <div class="chip mb-sm">
                  <mat-icon class="icon-chip">person</mat-icon>
                  <b>Rol: {{ rechazo.usuario_rol }}</b>
                </div>
                <div class="chip mb-sm">
                  <mat-icon class="icon-chip">calendar_today</mat-icon>
                  <b
                    >Fecha:{{
                      rechazo.fecha_ejecucion_estado | date : "dd/MM/yyyy"
                    }}</b
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="rechazos.length == 0">
    <div *ngFor="let _ of [].constructor(numRechazos)" class="px-3 my-2">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="fondo-chip mb-3 skeleton-container">
            <div class="my-2">
              <p class="skeleton skeleton-title"></p>
              <p class="skeleton skeleton-text"></p>
              <div class="d-flex flex-wrap mt-4">
                <div class="chip mb-sm skeleton skeleton-chip"></div>
                <div class="chip mb-sm skeleton skeleton-chip"></div>
                <div class="chip mb-sm skeleton skeleton-chip"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <mat-dialog-actions align="center">
    <button
      mat-stroked-button
      color="primary"
      style="border: 1px solid var(--md-primary-500)"
      [mat-dialog-close]
      class="mt-3"
    >
      <mat-icon>toll</mat-icon>Regresar
    </button>
  </mat-dialog-actions>
</ng-template>
