.visualizador::-webkit-scrollbar {
  height: 8px;
}

.visualizador::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}

.visualizador {
  min-width: 400px;
  min-height: 1000px;
  margin-top: 30px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
}
