<plantilla-modal
  [icono]="'picture_as_pdf'"
  [titulo]="'Visualizador de documento'"
  [descripcion]="'Vista previa del documento seleccionado'"
  [contenido]="contenidoDeModal"
  [footer]="footerDeModal"
></plantilla-modal>

<ng-template #contenidoDeModal>
  <div style="z-index: 0" *ngIf="!modoMultiple">
    <pdf-viewer
      [src]="documentoSrc"
      [render-text]="true"
      [original-size]="false"
      [show-all]="true"
      [zoom]="0.98"
      class="visualizador"
    ></pdf-viewer>
  </div>

  <div class="multiple-container" *ngIf="modoMultiple">
    <div class="multiple-listado">
      <button
        mat-stroked-button
        class="multiple-item"
        *ngFor="let documento of documentosMultiples; let i = index"
        (click)="seleccionarDocumento(i)"
        [class.listado-activo]="indiceSeleccionado === i"
        matTooltip="Documento no firmado"
        [matTooltipPosition]="'above'"
        [matTooltipDisabled]="documento.firmado !== false"
      >
        <span class="multiple-item-title">{{ documento.titulo }}</span>
        <mat-icon
          class="multiple-item-unsigned"
          *ngIf="documento.firmado === false"
        >warning_amber</mat-icon>
      </button>
    </div>

    <div class="multiple-visor" *ngIf="documentoSeleccionadoSrc">
      <pdf-viewer
        [src]="documentoSeleccionadoSrc"
        [render-text]="true"
        [original-size]="false"
        [show-all]="true"
        [zoom]="0.98"
        class="visualizador"
      ></pdf-viewer>
    </div>
  </div>
</ng-template>
<ng-template #footerDeModal>
  <button
    mat-stroked-button
    color="primary"
    style="border: 1px solid var(--md-primary-500)"
    [mat-dialog-close]
    class="my-3"
  >
    <mat-icon>toll</mat-icon>Regresar
  </button>
  <button
    mat-raised-button
    color="primary"
    class="my-3"
    *ngIf="botonGuardar.texto"
    (click)="modoMultiple ? guardarIndividual() : guardar()"
  >
    <mat-icon>{{ botonGuardar.icono }}</mat-icon
    >{{ botonGuardar.texto }}
  </button>

  <button
    mat-raised-button
    color="primary"
    class="my-3"
    *ngIf="modoMultiple && botonGuardarTodos.texto"
    (click)="guardarTodas()"
  >
    <mat-icon>{{ botonGuardarTodos.icono }}</mat-icon
    >{{ botonGuardarTodos.texto }}
  </button>
</ng-template>
