<mat-card class="container-principal">
  <button mat-icon-button class="close-button" [mat-dialog-close]>
    <mat-icon color="primary" class="btn">close</mat-icon>
  </button>
  <form [formGroup]="formObservaciones">
    <div>
      <div id="container-title">
        <h4>Observaciones</h4>
      </div>
      <textarea
        formControlName="observaciones"
        placeholder="Motivos de rechazo"
      ></textarea>
    </div>
  </form>
  <mat-dialog-actions align="end">
    <button
      mat-raised-button
      color="primary"
      id="btn-rechazar"
      (click)="preguntarConfirmacionRechazo()"
    >
      Rechazar
    </button>
  </mat-dialog-actions>
</mat-card>
