<plantilla-tarjeta-contenedora
  [title]="'Auditorías especiales'"
  [breadcrumb]="
    '<p>Gestión Auditoría / Programación /  <b>Auditorías especiales</b></p>'
  "
  [contenido]="contenidoDePlantilla"
></plantilla-tarjeta-contenedora>

<ng-template #contenidoDePlantilla>
  <div class="row mt-3">
    <form [formGroup]="vigenciaForm" class="col-12 d-flex justify-content-between align-items-center">
      <mat-form-field class="col-md-4 col-12 mt-4" appearance="outline">
        <mat-label>Seleccione una vigencia: </mat-label>
        <mat-icon color="primary" matPrefix>today</mat-icon>
        <mat-select 
          formControlName="vigencia"
          (selectionChange)="mostrarAuditoriasPorVigencia($event.value)"
          track vigencia
        >
          <mat-option disabled value="">--Seleccionar--</mat-option>
          <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia">
            {{ vigencia.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        *ngIf="permiso"
        class="mx-3"
        mat-raised-button
        color="primary"
        (click)="nuevaAuditoria()"
      >
        Crear Auditoría Especial
      </button>
    </form>
    <p>Seleccione el año de auditoría especial a realizar</p>
  </div>

  <div class="row mt-3">
    <h3 class="my-3">Listado de Auditorías Aprobadas en el Plan Anual de Auditorías (PAA) especiales</h3>
    <div class="col-12">
      <app-tabla-auditorias-especiales
        [vigenciaId]="vigenciaSeleccionada"
        [permiso]="permiso"
        [usuarioId]="usuarioId"
        [usuarioRol]="usuarioRol"
      ></app-tabla-auditorias-especiales>
    </div>
  </div>

</ng-template>
