.area-texto {
  height: 100px; /* Ajusta esta altura según tus necesidades */
  resize: none; /* Evita que el usuario redimensione el área */
}

.info {
  background-color: #f2e8e7;
  padding: 20px;
  color: #3e0a0a;
  border-radius: 5px;
}
