<div class="container">
  <div class="row">
    <div class="col-12 my-2">
      <p>Gestión Auditoría / <b>Editar Auditoría</b></p>
    </div>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="container mt-2 mx-2">
          <b>Editar Auditoría</b>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <mat-stepper
            [linear]="esLineal"
            #stepper
            labelPosition="bottom"
            color="accent"
            [orientation]="orientation"
          >
            <ng-template matStepperIcon="number">
              <mat-icon>lens</mat-icon>
            </ng-template>
            <!-- Paso 1: Información -->
            <mat-step [stepControl]="primerFormulario">
              <ng-template matStepLabel>
                <p>Paso 1</p>
                <b style="color: #a11413">Información</b>
              </ng-template>
              <div class="d-flex align-items-center info my-3">
                <div>
                  <mat-icon>assignment</mat-icon>
                </div>
                <div class="mx-3">
                  <h2>Información</h2>
                  Informacion general de la auditoría
                </div>
              </div>
              <div *ngIf="formularioInformacion != null" class="mt-4">
                <app-formulario-dinamico
                  #formularioInformacionComp
                  [formulario]="formularioInformacion"
                  (submitFormulario)="manejarEnvioInformacion($event)"
                >
                </app-formulario-dinamico>
                <div class="d-flex justify-content-end mt-4">
                  <button
                    matStepperNext
                    mat-raised-button
                    color="accent"
                    (click)="enviarFormularioInformacion()"
                  >
                    Guardar y continuar
                  </button>
                </div>
              </div>
            </mat-step>

            <!-- Paso 2: Actividades -->
            <mat-step [stepControl]="segundoFormulario">
              <ng-template matStepLabel>
                <p>Paso 2</p>
                <b style="color: #a11413">Actividades</b>
              </ng-template>
              <div class="d-flex align-items-center info my-3">
                <div>
                  <mat-icon>assessment</mat-icon>
                </div>
                <div class="mx-3">
                  <h2>Actividades</h2>
                  Actividades de la auditoría
                </div>
              </div>
              <app-actividades-auditoria></app-actividades-auditoria>
              <div class="d-flex justify-content-end mt-4">
                <button
                  matStepperPrevious
                  mat-stroked-button
                  color="accent"
                  (click)="enviarFormularioInformacion()"
                >
                  Volver
                </button>
                <button
                  matStepperNext
                  mat-flat-button
                  color="accent"
                  (click)="enviarFormularioInformacion()"
                  class="mx-2"
                >
                  Guardar y continuar
                </button>
              </div>
            </mat-step>

            <!-- Paso 3: Recursos -->
            <mat-step [stepControl]="tercerFormulario">
              <ng-template matStepLabel>
                <p>Paso 3</p>
                <b style="color: #a11413">Recursos</b>
              </ng-template>
              <div class="d-flex align-items-center info my-3">
                <div>
                  <mat-icon>memory</mat-icon>
                </div>
                <div class="mx-3">
                  <h2>Recursos</h2>
                  Recursos para la ejecución de la auditoría
                </div>
              </div>
              <div *ngIf="formularioRecursos != null" class="mt-4">
                <app-formulario-dinamico
                  #formularioRecursosComp
                  [formulario]="formularioRecursos"
                  (submitFormulario)="manejarEnvioRecursos($event)"
                >
                </app-formulario-dinamico>
                <div class="d-flex justify-content-end mt-4">
                  <button
                    matStepperPrevious
                    mat-stroked-button
                    color="accent"
                    (click)="enviarFormularioInformacion()"
                  >
                    Volver
                  </button>
                  <button
                    matStepperNext
                    mat-flat-button
                    color="accent"
                    (click)="guardarRecursos()"
                    class="mx-2"
                  >
                    Guardar y continuar
                  </button>
                </div>
              </div>
            </mat-step>

            <!-- Paso 4: Documentos anexos -->
            <mat-step [stepControl]="cuartoFormulario">
              <ng-template matStepLabel>
                <p>Paso 4</p>
                <b style="color: #a11413">Documentos anexos</b>
              </ng-template>
              <div class="d-flex align-items-center info my-3">
                <div>
                  <mat-icon>description</mat-icon>
                </div>
                <div class="mx-3">
                  <h2>Documentos anexos</h2>
                  Documentos anexos para la auditoría
                </div>
              </div>
              <app-documentos-anexos-auditoria
                (guardarDocumentos)="manejarEnvioDocumentos($event)"
              ></app-documentos-anexos-auditoria>
              <div class="d-flex justify-content-end mt-4">
                <button
                  matStepperPrevious
                  mat-stroked-button
                  color="accent"
                  (click)="enviarFormularioInformacion()"
                >
                  Volver
                </button>
                <button
                  matStepperNext
                  mat-flat-button
                  color="accent"
                  (click)="enviarFormularioInformacion()"
                  class="mx-2"
                >
                  Guardar y cerrar
                </button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
