<div class="container">
    
    <div mat-dialog-actions>
        <button mat-icon-button class="close-button">
            <mat-icon color="primary" class="btn">close</mat-icon>
          </button>
    </div>
    <div>
        <div id="container-title">
            <h4 >Oservaciones</h4>
        </div>
        <textarea name="" id="" placeholder="motivos de rechazo"></textarea>
    </div>
    <button mat-raised-button color="primary" id="btn-rechazar" (click)="openConfirmarRechazo()">Rechazar</button>
</div>