<plantilla-modal
  [icono]="'editar'"
  [titulo]="'Editar Auditoría'"
  [descripcion]="'Edición de Auditoría'"
  [contenido]="contenidoDeModal"
></plantilla-modal>

<ng-template #contenidoDeModal>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <form [formGroup]="form">
          <div class="row mt-2">
            <div class="col-12 col-md-12 col-xl-8">
              <div class="fondo-acento-50 d-flex justify-content-center my-3">
                <b>Auditoría</b>
              </div>
              <div class="row">
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>Nombre de Auditoría</mat-label>
                  <mat-icon matPrefix color="primary">developer_board</mat-icon>
                  <input
                    matInput
                    placeholder="Título de la Auditoría"
                    formControlName="tituloAuditoria"
                    readonly
                  />
                </mat-form-field>
                <mat-form-field class="col-6" appearance="outline">
                  <mat-label>Nombre complementario</mat-label>
                  <mat-icon matPrefix color="primary">developer_board</mat-icon>
                  <input
                    matInput
                    placeholder="Subtítulo de la Auditoría"
                    formControlName="subtituloAuditoria"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4">
              <div class="fondo-acento-50 d-flex justify-content-center my-3">
                <b>Tipo de evaluación</b>
              </div>
              <mat-form-field class="col-12" appearance="outline">
                
                <mat-icon matPrefix color="primary">assessment</mat-icon>
                <input
                matInput
                placeholder="Tipo de Evaluación"
                formControlName="tipoEvaluacion"
                readonly
                />
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
              <div class="fondo-acento-50 d-flex justify-content-center my-3">
                <b>Cronograma de actividades</b>
              </div>
              <mat-form-field class="col-12" appearance="outline">
                
                <mat-icon matPrefix color="primary">date_range</mat-icon>
                <input
                matInput
                placeholder="Cronograma de Actividades"
                formControlName="cronogramaActividades"
                readonly
              />
              </mat-form-field>
            </div>
          </div>

          <div style="padding: 0 0 16px 5px">
            <span><b>Auditor</b></span>
          </div>

          <div class="row d-flex align-items-center">
            <div
              *ngFor="let auditorControl of auditoresSeleccionados.controls; let i = index" [formGroup]="auditorControl"
              class="col-12 d-flex align-items-center mt-3" track auditorControl
            >
              <mat-form-field appearance="outline" class="col-8">
                <mat-label>Seleccione un auditor</mat-label>
                <mat-icon color="primary" matPrefix>person</mat-icon>
                <mat-select [formControlName]="'auditor'">
                  <mat-option *ngFor="let auditor of auditoresDisponibles(i)" [value]="auditor">
                    {{ auditor.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-checkbox
              class="col-3 mx-2"
              formControlName="lider"
              (change) = "onLiderChange(i)">
              Auditor Lider </mat-checkbox>
              <button
                mat-icon-button
                color="warn"
                aria-label="Eliminar auditor"
                (click)="eliminarAuditor(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          
            <div class="col-12 mt-3">
              <button mat-raised-button color="primary" (click)="agregarAuditor()">
                <mat-icon>add</mat-icon> Agregar Auditor
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center align-items-center my-2">
        <mat-icon color="primary"> info </mat-icon>
        <p class="mx-2">¿Guardar cambios?</p>
      </div>
      <mat-dialog-actions align="center">
        <button
          mat-stroked-button
          color="primary"
          style="border: 1px solid var(--md-primary-500)"
          [mat-dialog-close]
          class="mb-sm"
        >
          <mat-icon>close</mat-icon>No, cerrar
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="guardarAuditoria()"
          class="mb-sm"
        >
          <mat-icon>save</mat-icon>
          Si, guardar y cerrar
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>
