<plantilla-tarjeta-contenedora
  [title]="'Editar Auditoría'"
  [breadcrumb]="
    '<p>Gestión Auditoría / Planeación / Auditorías Internas / <b>Editar Auditoría</b></p>'
  "
  [contenido]="contenidoDePlantilla"
  (regresar)="regresarRuta()"
  [mostrarBotonRegresar]="true"
></plantilla-tarjeta-contenedora>

<ng-template #contenidoDePlantilla>
  <div class="row">
    <div class="col-12">
      <mat-stepper
        [linear]="esLineal"
        #stepper
        labelPosition="bottom"
        color="primary"
        [orientation]="orientation"
      >
        <ng-template matStepperIcon="number">
          <mat-icon>lens</mat-icon>
        </ng-template>
        <!-- Paso 1: Información -->
        <mat-step>
          <ng-template matStepLabel>
            <p>Paso 1</p>
            <b style="color: var(--primary)">Información</b>
          </ng-template>
          <div class="d-flex align-items-center fondo-acento-50 my-3">
            <div>
              <mat-icon>assignment</mat-icon>
            </div>
            <div class="mx-3">
              <h2>Información</h2>
              Informacion general de la auditoría
            </div>
          </div>
          <div *ngIf="formularioInformacion != null" class="mt-4">
            <app-formulario-dinamico
              #formularioInformacionComp
              [formulario]="formularioInformacion"
              (submitFormulario)="preguntarGuardadoInformacion($event)"
            >
            </app-formulario-dinamico>
            <div class="d-flex justify-content-end mt-4">
              <button
                mat-raised-button
                color="primary"
                (click)="enviarFormInformacion()"
              >
                Guardar y continuar
              </button>
            </div>
          </div>
        </mat-step>

        <!-- Paso 2: Actividades -->
        <mat-step>
          <ng-template matStepLabel>
            <p>Paso 2</p>
            <b style="color: var(--primary)">Actividades</b>
          </ng-template>
          <div class="d-flex align-items-center fondo-acento-50 my-3">
            <div>
              <mat-icon>assessment</mat-icon>
            </div>
            <div class="mx-3">
              <h2>Actividades</h2>
              Actividades de la auditoría
            </div>
          </div>
          <app-actividades-auditoria></app-actividades-auditoria>
          <div class="d-flex justify-content-end mt-4">
            <button matStepperPrevious mat-stroked-button color="primary">
              Volver
            </button>
            <button matStepperNext mat-flat-button color="primary" class="mx-2">
              Guardar y continuar
            </button>
          </div>
        </mat-step>

        <!-- Paso 3: Recursos -->
        <mat-step>
          <ng-template matStepLabel>
            <p>Paso 3</p>
            <b style="color: var(--primary)">Recursos</b>
          </ng-template>
          <div class="d-flex align-items-center fondo-acento-50 my-3">
            <div>
              <mat-icon>memory</mat-icon>
            </div>
            <div class="mx-3">
              <h2>Recursos</h2>
              Recursos para la ejecución de la auditoría
            </div>
          </div>
          <div *ngIf="formularioRecursos != null" class="mt-4">
            <app-formulario-dinamico
              #formularioRecursosComp
              [formulario]="formularioRecursos"
              (submitFormulario)="preguntarGuardadoRecursos($event)"
            >
            </app-formulario-dinamico>
            <div class="d-flex justify-content-end mt-4">
              <button mat-stroked-button color="primary" matStepperPrevious>
                Volver
              </button>
              <button
                mat-flat-button
                color="primary"
                (click)="enviarFormRecursos()"
                class="mx-2"
              >
                Guardar y continuar
              </button>
            </div>
          </div>
        </mat-step>

        <!-- Paso 4: Documentos anexos -->
        <mat-step>
          <ng-template matStepLabel>
            <p>Paso 4</p>
            <b style="color: var(--primary)">Documentos anexos</b>
          </ng-template>
          <div class="d-flex align-items-center fondo-acento-50 my-3">
            <div>
              <mat-icon>description</mat-icon>
            </div>
            <div class="mx-3">
              <h2>Documentos anexos</h2>
              Documentos anexos para la auditoría
            </div>
          </div>
          <app-documentos-anexos-auditoria
            (guardarDocumentos)="manejarEnvioDocumentos($event)"
          ></app-documentos-anexos-auditoria>
          <div class="d-flex justify-content-end mt-4">
            <button matStepperPrevious mat-stroked-button color="primary">
              Volver
            </button>
            <button matStepperNext mat-flat-button color="primary" class="mx-2">
              Guardar y cerrar
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</ng-template>
