@if (banderaTablaSeguimiento) {
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="my-3">Listado de Seguimientos e Informes de Ley Aprobados en el Plan Anual de Auditorías (PAA)</h3>
      <p class="mb-2 mx-2">
        Seleccione el seguimiento y/o informe de ley para realizar la revisión y/o planeación.
      </p>
    </div>
    <div class="col-12">
      <div class="table-container table-scroll">
        <table mat-table [dataSource]="auditoriasDataSource" matSort>
          @for (columna of auditoriasContructorTabla; track columna) {
            <ng-container
              [matColumnDef]="columna.columnDef"
              >
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                [disabled]="!columna.sortable"
                >
                <b>{{ columna.header }}</b>
              </th>
              <td
                mat-cell
                *matCellDef="let row; let i = index"
                [ngClass]="{ 'even-row': i % 2 === 0 }"
                >
                @if (columna.columnDef; as colDef) {
                  @switch (colDef) {
                    @case ('numero') {
                      <div>
                        <span>{{ pageIndex * pageSize + i + 1 }}</span>
                      </div>
                    }
                    <!-- Tipo Evaluación -->
                    @case ('tipo_evaluacion') {
                      <div>
                        <span>{{ row.tipo_evaluacion_nombre }}</span>
                      </div>
                    }
                    <!-- Documentos -->
                    @case ('documentos') {
                      <div>
                        <button
                          mat-icon-button
                          color="primary"
                          (click)="verDocumentos(row)"
                          >
                          <mat-icon>description</mat-icon>
                        </button>
                      </div>
                    }
                    <!-- Acciones -->
                    @case ('acciones') {
                      <div>
                        @if (row.acciones?.length > 0) {
                          <button
                            mat-icon-button
                            color="primary"
                            [matMenuTriggerFor]="menu"
                            >
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            @for (accion of row.acciones; track accion) {
                              <button
                                mat-menu-item
                                (click)="realizarAccion(row, accion)"
                                >
                                <mat-icon color="primary">{{
                                  getIconoAccion(accion)
                                }}</mat-icon>
                                <span>{{ accion }}</span>
                              </button>
                            }
                          </mat-menu>
                        }
                      </div>
                    }
                    @default {
                      <span>{{ columna.cell(row) }}</span>
                    }
                  }
                }
              </td>
            </ng-container>
          }
          <tr mat-header-row *matHeaderRowDef="tablaColumnas"></tr>
          <tr mat-row *matRowDef="let row; columns: tablaColumnas"></tr>
          <br />
        </table>
      </div>
      <mat-paginator
        #paginator
        class="mt-3"
        [length]="totalRegistros"
        [pageSize]="pageSize"
        (page)="manejarCambioPaginado($event)"
        [pageSizeOptions]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
}