<div class="row">
  <div class="col-12 my-2">
    <p>Gestión Auditoría / Planeación / <b>Auditorías internas</b></p>
  </div>
</div>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>Auditorías internas</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="vigenciaForm">
          <div class="row">
            <mat-form-field class="col-md-4 col-12 mt-4" appearance="outline">
              <mat-label>Seleccione una vigencia:</mat-label>
              <mat-icon class="mat-icon-outlined" color="accent" matPrefix
                >today</mat-icon
              >
              <mat-select
                formControlName="vigencia"
                (selectionChange)="listarAuditoriasPorVigencia($event.value)"
                color="accent"
              >
                <mat-option disabled value="">--Seleccionar--</mat-option>
                <mat-option
                  *ngFor="let vigencia of vigencias"
                  [value]="vigencia"
                  >{{ vigencia.Nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <div class="col-md-8 col-12 d-flex align-items-center centrar-md">
              <mat-icon color="accent" class="me-2">info</mat-icon>
              <p style="font-size: 14px">
                Se cargarán las auditorías correspondientes a la vigencia
                seleccionada.
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div *ngIf="banderaTablaAuditoriasInternas" class="col-12">
        <app-tabla-auditorias-internas
          [auditoriasPorVigencia]="auditoriasPorVigencia"
        ></app-tabla-auditorias-internas>
      </div>
    </div>
  </mat-card-content>
</mat-card>
