<mat-card style="width: 100%;">
    <div class="containerDiv">
        <h3>Gestión Auditoría >> Registrar Plan Anual Auditoría PAA</h3>
        <div class="border">
            <ng-container *ngIf="formulario != null">
                <mat-card-title class="title">Plan de Acción</mat-card-title>
                <mat-divider class="divider"></mat-divider>
                <mat-card-content>
                    <app-formulario-dinamico [formulario]="formulario" (submitFormulario)="manejarEnvio($event)">
                    </app-formulario-dinamico>
                    <div class="button-container">
                        <button mat-raised-button color="primary" (click)="guardarInformacion()">
                            Guardar
                        </button>
                    </div>
                </mat-card-content>
            </ng-container>
        </div>
    </div>
</mat-card>