.containerDiv {
    margin: 10px;
    padding: 60px 40px;
}

.title {
    font-family: "Raleway", "Open Sans", sans-serif;
    padding-left: 35px;
    margin-bottom: 10px;
    color: var(--primary);
}

.divider {
    margin-bottom: 20px;
    margin-left: 24px;
    width: 95%;
    background-color: var(--md-primary-contrast-50);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}