<plantilla-tarjeta-contenedora
  [title]="'Plan de Acción'"
  [breadcrumb]="
    '<p>Gestión Auditoría / Programación / Plan anual de auditorías / <b>Editar</b></p>'
  "
  [contenido]="contenidoDePlantilla"
  (regresar)="regresarRuta()"
  [mostrarBotonRegresar]="true"
></plantilla-tarjeta-contenedora>

<ng-template #contenidoDePlantilla>
  <div class="row mt-3">
    <div class="col-12">
      <app-formulario-dinamico
        [formulario]="formulario"
        (submitFormulario)="manejarEnvio($event)"
      />
      <div class="d-flex justify-content-end">
        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="guardarInformacion()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
