<plantilla-modal
  [icono]="esEdicion ? 'edit' : 'add_circle'"
  [titulo]="esEdicion ? 'Editar Hallazgo' : 'Agregar Hallazgo'"
  [descripcion]="'Complete los campos para ' + (esEdicion ? 'editar el' : 'agregar un nuevo') + ' hallazgo'"
  [contenido]="contenidoDeModal"
  [footer]="footerDeModal">
</plantilla-modal>

<ng-template #contenidoDeModal>
  <form [formGroup]="form" class="mt-3">
    <div class="row">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Criterio</mat-label>
        <input matInput formControlName="criterio" placeholder="Criterio del hallazgo">
        <mat-error *ngIf="form.get('criterio')?.hasError('required')">El criterio es requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Hallazgo</mat-label>
        <textarea matInput formControlName="hallazgo" placeholder="Descripción del hallazgo" rows="4"></textarea>
        <mat-error *ngIf="form.get('hallazgo')?.hasError('required')">El hallazgo es requerido</mat-error>
      </mat-form-field>
    </div>
  </form>
</ng-template>

<ng-template #footerDeModal>
  <button mat-stroked-button color="primary" [mat-dialog-close] class="my-3">
    <mat-icon>close</mat-icon> Cancelar
  </button>
  <button mat-raised-button color="primary" class="my-3 mx-2" (click)="guardar()">
    <mat-icon>save</mat-icon> {{ esEdicion ? 'Guardar' : 'Agregar' }}
  </button>
</ng-template>
