h3{
  margin-left: 2rem;

}
.container {
    padding: 16px;
    margin-left: 2rem;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 4rem;
  }
  
  .close-button { 
    padding:1px;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .grid{
    padding:5px;
  }
  .btn{
    border: 2px solid #731514;
    border-radius:0;
  }
  .document-image {
    width: 100%;
    height: auto;
  }
  
  .footer {
    display: flex;
    margin-top: 16px;
    justify-content: center;

    button{
        color: var(--md-primary-contrast-300);
        margin-top: 35px;
        margin-left:5px;
        margin-right:5px;
        margin-bottom: 40px;
    }
  }
  .custom-card {
    border-color: hsl(0deg 0% 63.53%);
    border-radius: 16px; /* Ajusta el radio del borde según tu preferencia */
    box-shadow: 4px 4px 8px hsl(0deg 0% 63.53%); /* Ajusta el tamaño y el color de la sombra según tu preferencia */
    padding: 10px;
  }
  .divider{
    color: hsl(0deg 0% 84.31%);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
  }

  .buttoms{
    color: white;
  }
  #descargarBtn{
    display: flex;
    justify-content: flex-end;
  }
  .btn-cont{
    
    background-color: white;
    color: hsl(8.28deg 68.5% 75.1%);
    font-weight: normal;
    
    button{
      text-align: left;
      width: 100%;
      margin:0;
      border-radius:9px;
      padding-top:10px;
      padding-bottom:15px;
      border: 1px solid hsl(210deg 15% 92.16%);
    }
  }
  .selected {
    background-color: hsl(8.28deg 68.5% 75.1%);
    color:#731514;
    font-weight: bold;

  }
  .object-render{
    app-pdf-visualizador {
      width: 100%;
      height: 600px;
      border: 1px solid  black;
    }
    
  }
  