<plantilla-modal [icono]="'list_alt'" [titulo]="titulo" [descripcion]="descripcion" [contenido]="contenidoDeModal"
    [footer]="footerDeModal"></plantilla-modal>

<ng-template #contenidoDeModal>
    <div class="d-flex flex-row-reverse my-2">
        <button
            class="modal-btn"
            mat-flat-button color="primary"
            (click)="descargarTodo()"
        >
            Descargar Todo <mat-icon>insert_drive_file</mat-icon>
        </button>
        <ng-container *ngIf="tabs && tabs[selectedTab] && tabs[selectedTab].botones">
            <button
                class="modal-btn"
                *ngFor="let boton of tabs[selectedTab].botones"
                mat-flat-button [color]="boton.color || 'accent'"
                (click)="boton.accion()"
            >
                {{ boton.nombre }} <mat-icon *ngIf="boton.icono">{{ boton.icono }}</mat-icon>
            </button>
        </ng-container>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 d-flex flex-column">
            <ng-container *ngFor="let tab of tabs; let i = index">
                <button *ngIf="documentosPorTab[i] || tab.obligatorio" class="mb-2 tab-btn" mat-stroked-button
                    [ngClass]="selectedTab === i ? 'selected' : ''" (click)="selectTab(i)">
                    {{ tab.nombre }}
                </button>
            </ng-container>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <div *ngIf="documentosPorTab[selectedTab]" style="border: 1px solid #ebdddd">
                <app-pdf-visualizador [base64Document]="documentosPorTab[selectedTab]"></app-pdf-visualizador>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #footerDeModal>
    <button mat-stroked-button color="primary" style="border: 1px solid var(--md-primary-500)" [mat-dialog-close]
        class="my-3">
        <mat-icon>toll</mat-icon>{{ textoBotonCerrar }}
    </button>
</ng-template>
