<div class="dialog-title">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon color="primary">close</mat-icon>
  </button>
</div>

<div class="file-input-container">
  <mat-form-field class="full-width" appearance="outline">
    <input
      matInput
      placeholder="Seleccionar archivo ..."
      [value]="archivo?.name"
      readonly
    />
    <input
      type="file"
      hidden
      #fileInput
      (change)="onFileSelected($event)"
      accept="pdf"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onFileInputClick()">
    Examinar ...
  </button>
</div>

<div class="button-container">
  <button class="remover" mat-raised-button (click)="removerArchivo()">
    Remover
  </button>
  <h2>Por favor adjuntar Acta de CCCI para la aprobación</h2>
</div>

<mat-dialog-actions align="center">
  <div class="my-3">
    <button mat-raised-button [mat-dialog-close]>Cancelar</button>
    <button mat-raised-button color="primary" (click)="cargarArchivo()">
      Aceptar
    </button>
  </div>
</mat-dialog-actions>
