<h3 class="mt-5 mb-3">Lista de actividades</h3>
<div class="table-container rounded-table table-scroll">
  <table mat-table [dataSource]="datos">
    <!-- No. Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef class="header"><b>No.</b></th>
      <td mat-cell *matCellDef="let element; let i = index" class="bold-text">
        {{ i + 1 }}
      </td>
    </ng-container>

    <!-- Actividad Column -->
    <ng-container matColumnDef="actividad">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Actividad</b></th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ element.actividad }}
      </td>
    </ng-container>

    <!-- Fecha Inicio Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef class="header">
        <b>Fecha Inicio</b>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ element.fechaInicio.toLocaleDateString() }}
      </td>
    </ng-container>

    <!-- Fecha Fin Column -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Fecha Fin</b></th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ element.fechaFin.toLocaleDateString() }}
      </td>
    </ng-container>

    <!-- Referencia Column -->
    <ng-container matColumnDef="referencia">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Referencia</b></th>
      <td mat-cell *matCellDef="let element">{{ element.papelTrabajoReferencia }}</td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Descripción</b></th>
      <td mat-cell *matCellDef="let element">{{ element.papelTrabajoDescripcion }}</td>
    </ng-container>

    <!-- Folio Column -->
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Folio</b></th>
      <td mat-cell *matCellDef="let element">{{ element.papelTrabajoFolios }}</td>
    </ng-container>

    <!-- Medio Column -->
    <ng-container matColumnDef="medio">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Medio</b></th>
      <td mat-cell *matCellDef="let element">{{ element.papelTrabajoMedio }}</td>
    </ng-container>

    <!-- Carpeta Column -->
    <ng-container matColumnDef="carpeta">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Carpeta</b></th>
      <td mat-cell *matCellDef="let element">{{ element.papelTrabajoCarpeta }}</td>
    </ng-container>

    <!-- Observaciones Column -->
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Observaciones</b></th>
      <td mat-cell *matCellDef="let element">{{ element.observaciones }}</td>
    </ng-container>

    <!-- Completada Column -->
    <ng-container matColumnDef="completada">
      <th mat-header-cell *matHeaderCellDef class="header"><b>Completada</b></th>
      <td mat-cell *matCellDef="let element">
        {{ element.completada ? 'Sí' : 'No' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="header">
        <b>Acciones</b>
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        @if (!soloLectura || !element.completada) {
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            color="primary"
            >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- Mostrar opciones de editar y eliminar solo si no es solo lectura -->
            @if (!soloLectura) {
              <button mat-menu-item (click)="editarActividad(element)">
                <mat-icon color="primary" >edit</mat-icon> Editar Actividad
              </button>
              <button mat-menu-item (click)="eliminarActividad(element)">
                <mat-icon color="primary" >delete</mat-icon> Eliminar Actividad
              </button>
            }
            <!-- Solo mostrar la opción de marcar como completada si la actividad no está completada y la auditoría está en ejecución -->
            @if (enEjecucion && !element.completada) {
              <button mat-menu-item (click)="marcarCompletada(element)">
                <mat-icon color="primary">check_circle</mat-icon>
                Marcar como Completada
              </button>
            }
          </mat-menu>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
