.close-button {
    padding: 1px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.footer {
    display: flex;
    margin-top: 16px;
    justify-content: center;
}

.pdf-container {
    background-color: #f3f3f3; 
  }
  

pdf-viewer::ng-deep .page {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }