.mat-column-numero {
  text-align: center;
}

.mat-column-vigencia {
  text-align: center;
}

.mat-column-documentos {
  text-align: center;
}

.mat-column-acciones {
  text-align: center;
}

.even-row {
  background-color: #f4f4f4;
}

.link {
  cursor: pointer;
}
