<plantilla-tarjeta-contenedora
  [title]="'Registrar plan anual auditoría - PAA'"
  [breadcrumb]="
    '<p>Gestión Auditoría / Programación / Plan anual de auditorías / <b>Registrar</b></p>'
  "
  [contenido]="contenidoDePlantilla"
  (regresar)="regresarRuta()"
  [mostrarBotonRegresar]="true"
></plantilla-tarjeta-contenedora>

<ng-template #contenidoDePlantilla>
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="filter-section">
          <label for="select" class="label-select">Ordenado por: </label>
          <mat-form-field appearance="outline">
            <mat-label>Selección </mat-label>
            <mat-select id="select">
              <mat-option value="opcion1">Opción 1</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon color="primary" class="icon">view_list</mat-icon>
          </button>
          <button
            class="mx-2"
            mat-raised-button
            color="primary"
            (click)="descargarPlantilla()"
            *ngIf="mostrarBotones"
          >
            <mat-icon svgIcon="excel"></mat-icon>Plantilla Cargue Masivo
          </button>
        </div>
      </div>

      <!-- Agregar cdkDropList a la tabla -->
      <div class="table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          cdkDropList
          [cdkDropListDisabled]="!mostrarBotones"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- No Column (Generado automáticamente) -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="header"><b>No.</b></th>
            <td mat-cell *matCellDef="let element; let i = index" class="cell">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Auditoría Column -->
          <ng-container matColumnDef="auditoria">
            <th mat-header-cell *matHeaderCellDef class="header">
              <b>Auditoría</b>
            </th>
            <td mat-cell *matCellDef="let element" class="cell">
              {{ element.auditoria }}
            </td>
          </ng-container>

          <!-- Tipo Evaluación Column -->
          <ng-container matColumnDef="tipoEvaluacion">
            <th mat-header-cell *matHeaderCellDef class="header">
              <b>Tipo de Evaluación</b>
            </th>
            <td mat-cell *matCellDef="let element" class="cell">
              {{ element.tipoEvaluacion }}
            </td>
          </ng-container>

          <!-- Cronograma Column -->
          <ng-container matColumnDef="cronograma">
            <th mat-header-cell *matHeaderCellDef class="header">
              <b>Cronograma</b>
            </th>
            <td mat-cell *matCellDef="let element" class="cell">
              {{ element.cronograma }}
            </td>
          </ng-container>

          <!-- Estado Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef class="header">
              <b>Estado</b>
            </th>
            <td mat-cell *matCellDef="let element" class="cell">
              {{ element.estado }}
            </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header">
              <b>Acciones</b>
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="cell">
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editarAuditoria(element)">
                  <mat-icon color="primary">edit</mat-icon> Editar Auditoría
                </button>
                <button mat-menu-item (click)="borrarAuditoria(element)">
                  <mat-icon color="grey">delete</mat-icon> Eliminar Auditoría
                </button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Definir las filas (Agregar cdkDrag a las filas) -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            cdkDrag
          ></tr>
        </table>
      </div>

      <div class="row mt-3">
        <div
          class="d-flex justify-content-end"
          *ngIf="!mostrarBotones; else botonesAcciones"
        >
          <button
            class="mx-2"
            mat-raised-button
            color="primary"
            (click)="verDocumentos()"
          >
            <mat-icon>visibility</mat-icon>
            Ver Documentos
          </button>
        </div>
        <ng-template #botonesAcciones>
          <div class="d-flex justify-content-end">
            <button
              class="mx-2"
              mat-raised-button
              color="primary"
              (click)="agregarAuditoria()"
            >
              <mat-icon>add_circle</mat-icon>
              Añadir Auditoría
            </button>
            <button
              class="mx-2"
              mat-raised-button
              color="primary"
              (click)="subirArchivoCargueMasivo()"
            >
              <mat-icon>file_upload</mat-icon> Cargue Masivo
            </button>
            <button
              class="mx-2"
              mat-raised-button
              color="primary"
              (click)="renderizar()"
            >
              <mat-icon>visibility</mat-icon>Ver
            </button>
            <button
              class="mx-2"
              mat-raised-button
              color="primary"
              (click)="subirArchivoMatriz()"
            >
              <mat-icon>file_upload</mat-icon>Matriz
            </button>
            <button
              class="mx-2"
              mat-raised-button
              color="primary"
              (click)="guardarPaa()"
            >
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
