<mat-form-field class="col-12" appearance="outline">
  @if (label) {
    <mat-label>{{label}}</mat-label>
  }
  @if (icon) {
    <mat-icon matPrefix color="primary">{{icon}}</mat-icon>
  }
  <mat-select
    [multiple]="multiple"
    #matSelect
    class="col-12"
    [formControl]="selectionControl"
    [placeholder]="placeholder"
    >
    <mat-option>
      <ngx-mat-select-search
        [formControl]="formFilterControl"
        placeholderLabel="Buscar..."
        noEntriesFoundLabel="No hay opciones"
      ></ngx-mat-select-search>
    </mat-option>

    @for (selectable of (filteredSelectables | async); track selectable) {
      <mat-option [value]="selectable.value">
        {{selectable.label}}
      </mat-option>
    }
  </mat-select>
  @if (
    selectionControl.hasError('required') &&
    selectionControl.touched &&
    selectables.length > 0
    ) {
    <mat-error
      >
      {{noSelectionErrorMessage}}
    </mat-error>
  }
  @if (
    selectionControl.hasError('required') &&
    selectionControl.touched &&
    selectables.length === 0
    ) {
    <mat-error
      >
      {{noOptionsErrorMessage}}
    </mat-error>
  }
</mat-form-field>
