.selected {
  background-color: var(--md-primary-50);
  color: var(--md-primary-600) !important;
  border: 1px solid var(--md-primary-200) !important;
  font-weight: 600;
}

.custom-button {
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .custom-button {
    padding: 5px 5px;
  }
}

.borde-redondo {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  padding: 20px;
}
