<plantilla-tarjeta-contenedora
  [title]="'Aprobación Plan Anual de Auditoría'"
  [breadcrumb]="
    '<p>Gestión Auditoría / Programación / Plan Anual de Auditorías / <b>Revisión</b></p>'
  "
  [contenido]="contenidoDePlantilla"
  (regresar)="regresarRuta()"
  [mostrarBotonRegresar]="true"
></plantilla-tarjeta-contenedora>

<ng-template #contenidoDePlantilla>
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex flex-row-reverse my-2">
        <button mat-flat-button color="primary" (click)="descargarTodo()">
          Descargar Todo <mat-icon> insert_drive_file</mat-icon>
        </button>
        @if (tabs && tabs[selectedTab] && tabs[selectedTab].botones) {
          @for (boton of tabs[selectedTab].botones; track boton) {
            <button
              class="mx-2"
              mat-flat-button [color]="boton.color || 'accent'"
              (click)="boton.accion()"
              >
              {{ boton.nombre }} @if (boton.icono) {
              <mat-icon>{{ boton.icono }}</mat-icon>
            }
          </button>
        }
      }
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="d-flex flex-column">
          @for (tab of tabs; track tab; let i = $index) {
            @if (documentosPorTab[i] || tab.obligatorio) {
              <button
                class="mb-2"
                mat-stroked-button
                [ngClass]="selectedTab === i ? 'selected' : ''"
                (click)="selectTab(i)"
                >
                {{tab.nombre}}
              </button>
            }
          }
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div>
          @for (tab of tabs; track tab; let i = $index) {
            <div>
              @if (selectedTab === i) {
                <div>
                  <div class="row">
                    <div class="col-12">
                      <div style="border: 1px solid #ebdddd">
                        <app-pdf-visualizador
                          [base64Document]="documentosPorTab[i]"
                        ></app-pdf-visualizador>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
@if (mostrarBotones) {
  <mat-dialog-actions align="center">
    <div class="row">
      <div class="col-12 my-4">
        <button
          mat-stroked-button
          color="primary"
          class="mx-2"
          style="border: 1px solid var(--md-primary-500)"
          (click)="abrirModalRechazo()"
          >
          <mat-icon>cancel</mat-icon>
          Rechazar Plan
        </button>
        <button
          class="mx-2"
          mat-raised-button
          color="primary"
          (click)="abrirModalEnviar()"
          >
          <mat-icon>check_circle</mat-icon>
          Aprobar
        </button>
      </div>
    </div>
  </mat-dialog-actions>
}
</ng-template>
