<p>Gestión Auditoría / <b>Plan Anual Auditoría</b></p>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>Aprobación Plan Anual de Auditoría</b>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex flex-row-reverse my-2">
      <button mat-button color="primary">
        Descargar Todo <mat-icon> insert_drive_file</mat-icon>
      </button>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="d-flex flex-column">
          <button
            class="mb-2"
            mat-stroked-button
            [ngClass]="selectedTab === 0 ? 'selected' : ''"
            (click)="selectTab(0)"
          >
            Formato PAA
          </button>
          <button
            class="mb-2"
            mat-stroked-button
            [ngClass]="selectedTab === 1 ? 'selected' : ''"
            (click)="selectTab(1)"
          >
            Matriz Función Pública
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div>
          <div *ngIf="selectedTab === 0">
            <div class="row">
              <div class="col-12">
                <div style="border: 1px solid #ebdddd">
                  <app-pdf-visualizador
                    [base64Document]="documento"
                  ></app-pdf-visualizador>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedTab === 1">Matriz Función Pública</div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-dialog-actions align="center">
    <div class="row">
      <div class="col-12 my-4">
        <button
          class="mx-2"
          mat-raised-button
          color="primary"
          (click)="openModalRechazo()"
        >
          Rechazar Plan
        </button>
        <button
          class="mx-2"
          mat-raised-button
          color="primary"
          (click)="openModalEnviar()"
        >
          Aprobar y Enviar a Secretario
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</mat-card>
