.alertaConfirmarBoton {
  background-color: #731514 !important;
}

.alertaCancelarBoton {
  background-color: #f3ebeb !important;
  color: #731514 !important;
}

.alertaIconoConfirmacion {
  color: #af7978 !important;
  border-color: #af7978 !important;
}

.alertaIconoSuccess {
  color: #9ebf77 !important;
  border-color: #9ebf77 !important;
}

.alertaIconoWarn {
  color: #fbbb3e !important;
  border-color: #fbbb3e !important;
}
