<plantilla-modal
  [icono]="'file_copy'"
  [titulo]="'Cargar archivo'"
  [descripcion]="'Cargue de un archivo para procesamiento'"
  [contenido]="contenidoDeModal"
></plantilla-modal>

<ng-template #contenidoDeModal>
  <!-- Selector de archivo -->
  <div class="row">
    <div class="col-12">
      <div class="row d-flex align-items-center">
        <mat-form-field
          class="full-width"
          appearance="outline"
          class="col-12 col-md-9 mt-4"
        >
          <mat-icon matPrefix color="primary">attach_file</mat-icon>
          <input
            matInput
            placeholder="Seleccionar archivo"
            [value]="archivo?.name || 'No hay archivo seleccionado'"
            readonly
          />
          <input
            type="file"
            hidden
            #fileInput
            (change)="onArchivoSelecionado($event)"
            [accept]="data.tipoArchivo === 'pdf' ? 'application/pdf' : 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
          />
        </mat-form-field>
        <div class="col-12 col-md-3 d-flex justify-content-center">
          <button
            mat-raised-button
            color="primary"
            (click)="onArchivoInputClick()"
          >
            <mat-icon>search</mat-icon>
            Examinar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Confirmación -->
  <div class="d-flex justify-content-center align-items-center fondo-acento-50 mb-2 mt-4">
    <mat-icon>info</mat-icon>
    <p class="mx-2">¿Hacer el cargue del archivo seleccionado?</p>
  </div>

  <!-- Acciones -->
  <mat-dialog-actions align="center">
    <button
      mat-stroked-button
      color="primary"
      [mat-dialog-close]
      class="mb-sm"
    >
      <mat-icon>close</mat-icon>
      No, cerrar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="cargarArchivo()"
      class="mb-sm"
      [disabled]="!archivo"
    >
      <mat-icon>cloud_upload</mat-icon>
      Sí, subir
    </button>
  </mat-dialog-actions>
</ng-template>
